{% extends 'base.html' %}

{% block top %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mdb-navbar">
    <!--<div class="navbar-nav">
      <a class="nav-item nav-link active" href=# >Import Data<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href=# >Export Data</a>
    </div> !-->
    <div class="row">
    <div class="col-sm">
        <div class='dropdown'>
            <button class='btn btn-primary dropdown-toggle' type='button' id='exportDataButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                    Export As
            </button>
            <div class='dropdown-menu' aria-labelledby='exportDataButton'>
                <a class='dropdown-item' href='#'>Mathematica</a>
                <a class='dropdown-item' href='#'>Maple</a>
                <a class='dropdown-item' href='#'>Sage Math</a>
                <a class='dropdown-item' href='#'>Matlab</a>
            </div>
        </div>
    </div>
        <!--<div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01"> </span>
            </div>
        </div> !-->
        <div class="col-sm">
        <div class='dropdown'>
            <button class='btn btn-primary dropdown-toggle' type='button' id='exportDataButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                    Import Data As
            </button>
            <div class='dropdown-menu' aria-labelledby='exportDataButton'>
                <a class='dropdown-item' href='#'>Polynomials</a>
                <a class='dropdown-item' href='#'>Polytopes</a>
                <a class='dropdown-item' href='#'>Graphs</a>
            </div>
        </div>
            </div>
    </div>
</nav>
{% endblock %}

{% block rest %}
{% endblock %}