{% extends 'data/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mdb-navbar">
    <!--<div class="navbar-nav">
      <a class="nav-item nav-link active" href=# >Import Data<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href=# >Export Data</a>
    </div> !-->
    <div class="row">
    <div class="col-sm">

            <label for ="exportDataButton">From:</label>
            <select class="form-control" id="exportDataButton">
                <option value="">Select Format</option>
                <option value="directedGraph">Directed Graph</option>
                <option value="polynomial">Polynomial</option>
                <option value="polygon">Polygon</option>
                <option value="weightedGraph">Weighted Graph</option>
            </select>
    </div>

        <!--<div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01"> </span>
            </div>
        </div> !-->

        <div class="col-sm">
             <p style="display: none; color:red;" id="infoText"></p>
             <label for ="toFormat">To:</label>
           <input type ="text" id="toFormat" name="toFormat" placeholder="Enter format type">
         </div>
    </div>
    </div>
</nav>

    <form class="needs-validation">
        <div class="mb-3">
            <p style="display: none; color:red;" id="infoText"></p>
            <textarea class="form-control" id="createInputTextArea" placeholder="Paste your script here" rows="15" required></textarea>
        </div>

        <button class="btn btn-primary" type="button" onclick="create('createInputTextArea');">Submit</button>

    </form>

{% endblock %}


