{% extends 'base.html' %}

{% block top %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mdb-navbar">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href={{ url_for('data.create_datastructure') }}>Datastructure</a>
      <a class="nav-item nav-link active" href={{ url_for('data.create_instance') }}>Instance<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href={{ url_for('data.create_dataset') }}>Dataset</a>
      <a class="nav-item nav-link active" href={{ url_for('data.create_formatter') }}>Formatter</a>
      <a class="nav-item nav-link active" href={{ url_for('data.create_format') }}>Format</a>
      <a class="nav-item nav-link active" href={{ url_for('data.import_page') }}>Import</a>

    </div>
</nav>
{% endblock %}

{% block rest %}
{% endblock %}
