{% extends 'data/create.html' %}

{% block content %}

<form class="needs-validation">

      <div class="row">
        <label for ="chooseFrom">From:</label>
        <select class="form-control" id="chooseFrom">
            {% for datastructure in datastructures %}
              <option value="{{datastructure}}">{{datastructures[datastructure]}}</option>
            {% endfor %}
        </select>
      </div>
      <div class="row">
        <label for ="chooseTo">To:</label>
        <select class="form-control" id="chooseTo">
            <option value="other">Other</option>
            {% for datastructure in datastructures %}
              <option value="{{datastructure}}">{{datastructures[datastructure]}}</option>
            {% endfor %}
        </select>
          <textarea class="form-control" id="formatterToName" placeholder='Give a name without empty spaces' rows="1"></textarea>
      </div>
    <div class="mb-3">
        <p style="display: none; color:red;" id="infoText"></p>
        <textarea class="form-control" id="createScriptArea" placeholder='The script' rows="20" required></textarea>
    </div>

    <button class="btn btn-primary" type="button" onclick="submit_formatter();">Submit</button>
</form>


{% endblock %}
