{% extends 'data/create.html' %}

{% block content %}

<form class="needs-validation" name="instance">
    <center><p style="display: none; color:red;" id="infoText"></p></center>
      <div class="row">
        <div class="col-sm">
        <select class="form-control" id="chooseDatastructure">
            <option selected>Choose Datastructure</option>
            {% for datastructure in datastructures %}
              <option value="{{datastructure}}">{{datastructures[datastructure]}}</option>
            {% endfor %}
        </select>
      </div>
      </div>
    </br>
    <div class="mb-3">
        <textarea class="form-control" id="createInstanceArea" placeholder="Enter JSON here" rows="15" required></textarea>
    </div>

    <button class="btn btn-primary" type="button" onclick="submit_instance('createInstanceArea');">Submit</button>

</form>


{% endblock %}
