{% extends 'data/create.html' %}

{% block content %}

<form class="needs-validation" name="format">
  <div class="mb-3">
    <center><p style="display: none; color:red;" id="infoText"></p></center>
    <select class="form-control" id="chooseDatastructure">
        <option selected>Choose Datastructure</option>
        {% for datastructure in datastructures %}
          <option value="{{datastructure}}">{{datastructures[datastructure]}}</option>
        {% endfor %}
    </select>
  </div>

  <div class="mb-3">

      <textarea class="form-control" id="formatName" placeholder='Name of the format' rows="1" required></textarea>
  </div>
    <div class="mb-3">

        <textarea class="form-control" id="formatDecription" placeholder='Describe the format' rows="5" required></textarea>
    </div>

    <button class="btn btn-primary" type="button" onclick="submit_format();">Submit</button>

</form>


{% endblock %}
