
<div class="row">
    <div class="col-sm">
        <div class='dropdown'>
            <button class='btn btn-secondary dropdown-toggle' type='button' id='exportDataButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                    Export As
            </button>
            <div class='dropdown-menu' aria-labelledby='exportDataButton'>
                <a class='dropdown-item' href='#'>MathData</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        {% if current_user.is_authenticated %}
            <button class="btn btn-primary" type="button" id="editdatastructureBtn" onclick="enable_edit('editdatastructureBtn', 'datastructureForm', '{{key}}');">Edit</button>
        {% endif %}
    </div>
</div>

<form>
    <div class="form-group mdb-form-group">
        <div id="jsonArea">

        </div>
        <p style="display: none; color:red;" id="infoText"></p>
        <textarea style="display: none" class="form-control" id="datastructureForm" rows="15">{{datastructure}}</textarea>
    </div>
</form>
