{% extends 'data/base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm">
        <div id="list-display-area">
            <ul class='list-group'>
              {% for datastructure in datastructures %}
                <li class='list-group-item'>
                  <a class='dropdown-item'
                   href='javascript:{{action}}_datastructure("{{datastructure}}");'>
                   {{datastructures[datastructure]}}
                 </a>
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-sm">
        <div id="data-display-area"></div>
    </div>
</div>

{% endblock %}
