{% extends 'data/browse.html' %}

{% block content %}

    <div class="row">
        <div class="col-sm">
              <div class='dropdown'>
                  <button class='btn btn-secondary dropdown-toggle' type='button' id='chooseDatastructure' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                  Choose Datastructure
                  </button>
                  <div class='dropdown-menu' aria-labelledby='chooseDatastructure'>
                      {% for datastructure in datastructures %}
                        <a class='dropdown-item' href='javascript:show_instances_for_datastructure("{{datastructure}}");'>{{datastructures[datastructure]}}</a>
                      {% endfor %}
                  </div>
             </div>
        </div>
            </div>
        </div>
        </br>
    <div class="row">
        <div class="col-sm">
            <div id="list-display-area">

            </div>
        </div>
        <div class="col-sm">
            <div id="data-display-area"></div>

        </div>
    </div>
{% endblock %}
