{% extends 'base.html' %}

{% set app = "data" %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
                <div id="accordion">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDatastructure" aria-expanded="true" aria-controls="collapseDatastructure">
                                Datastructures
                              </button>
                            </h5>
                          </div>

                          <div id="collapseDatastructure" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" style="height:300px; overflow-y:auto;">
                                    <div class="list-group">
                                            {% for change in datastructures %}
                                                <a class="list-group-item list-group-item-action"
                                                    href='javascript:get_change("{{change}}", "datastructure");'>{{ change }}</a>
                                            {% endfor %}
                                            </div>
                            </div>
                          </div>
                        </div>

                        <div class="card">
                          <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseInstance" aria-expanded="false" aria-controls="collapseInstance">
                                Instances
                              </button>
                              <button onclick="acceptAllInstances()">
                                Accept ALL
                              </button>
                            </h5>
                          </div>
                          <div id="collapseInstance" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body" style="height:300px; overflow-y:auto;">
                                    <div class="list-group">
                                            {% for change in instances %}
                                                <a class="list-group-item list-group-item-action"
                                                    href='javascript:get_change("{{change}}", "instance");'>{{ change }}</a>
                                            {% endfor %}
                                            </div>
                            </div>
                          </div>
                        </div>

                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFormatter" aria-expanded="true" aria-controls="collapseFormatter" style="overflow-y:auto">
                                Formatters
                              </button>
                            </h5>
                          </div>
                          <div id="collapseFormatter" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" style="height:300px; overflow-y:auto;">
                                    <div class="list-group">
                                            {% for change in formatters %}
                                                <a class="list-group-item list-group-item-action"
                                                    href='javascript:get_change("{{change}}", "formatter");'>{{ change }}</a>
                                            {% endfor %}
                                            </div>
                            </div>
                          </div>
                        </div>


                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDataset" aria-expanded="true" aria-controls="collapseDataset">
                                Datasets
                              </button>
                            </h5>
                          </div>
                          <div id="collapseDataset" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" style="height:300px; overflow-y:auto;">
                                    <div class="list-group">
                                            {% for change in datasets %}
                                                <a class="list-group-item list-group-item-action"
                                                    href='javascript:get_change("{{change}}", "dataset");'>{{ change }}</a>
                                            {% endfor %}
                                            </div>
                            </div>
                          </div>
                        </div>

                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFormat" aria-expanded="true" aria-controls="collapseFormat">
                                Formats
                              </button>
                            </h5>
                          </div>
                          <div id="collapseFormat" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body" style="height:300px; overflow-y:auto;">
                                    <div class="list-group">
                                            {% for change in formats %}
                                                <a class="list-group-item list-group-item-action"
                                                    href='javascript:get_change("{{change}}", "format");'>{{ change }}</a>
                                            {% endfor %}
                                            </div>
                            </div>
                          </div>
                    </div>
                </div>
        </div>
                <div class="col-sm-6">
                    <div id="change-display-area">
                 </div>
        </div>
        </div>


    </div>

    <script>
      function delay(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      }
      async function acceptAllInstances() {
        const instances = document.querySelectorAll('#collapseInstance .list-group-item-action');
        
        for (const instance of instances) {
          const changeId = instance.textContent.trim();
          accept_change(changeId, 'instance');
          
          await delay(1000); 
        }
        window.location.reload();

      }
      
      
      </script>

{% endblock %}
