{% extends 'data/create.html' %}

{% block content %}


<form class="needs-validation" action="import_file" method="POST" enctype="multipart/form-data" id="importForm">
    <center><p style="display: none; color:red;" id="infoText"></p></center>

    <div class="row">
        <div class="col-sm">
            <select class="form-control" id="chooseFrom" name="from" required>
                <option value="" selected disabled>Input Format</option>
                {% for format in formats %}
                    <option value="{{format}}">{{formats[format]}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <select class="form-control" id="chooseTo" name="to" required>
                <option value="" selected disabled>Storage Format</option>
                {% for format in formats %}
                    <option value="{{format}}">{{formats[format]}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <input type = "file" name = "file" multiple/>
    <br><br>
    <input type="button" class="btn btn-primary" id="importButton" value="Import" />
</form>

<script>
    document.getElementById('importButton').addEventListener('click', function () {
        const inputFormat = document.getElementById('chooseFrom').value;
        const storageFormat = document.getElementById('chooseTo').value;
        const infoText = document.getElementById('infoText');

        infoText.style.display = "none";

        // Validate "Input Format" selection
        if (!inputFormat || inputFormat === "") {
            infoText.textContent = "Please select a valid Input Format.";
            infoText.style.display = "block";
            return; 
        }


        if (!storageFormat || storageFormat === "") {
            infoText.textContent = "Please select a valid Storage Format.";
            infoText.style.display = "block";
            return; 
        }

        document.getElementById('importForm').submit();
    });
</script>

{% endblock %}
