
<div class="row">
    <div class="col-sm">
        <div class='dropdown'>
            <button class='btn btn-secondary dropdown-toggle' type='button' id='exportDataButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                    Export to
            </button>
            <div class='dropdown-menu' aria-labelledby='exportDataButton'>
                {% for formatter in formatters %}
                  <a class='dropdown-item' href='javascript:format_instance("{{key}}","{{formatter[2]}}")'>{{formatter}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm">
        {% if current_user.is_authenticated %}
            <button class="btn btn-outline-primary" type="button" id="editInstanceBtn" onclick="enable_edit('editInstanceBtn', 'instanceForm', '{{key}}');">Edit</button>
        {% endif %}
    </div>
</div>

<form>
    <div class="form-group mdb-form-group">
        <div id="data-display-area"></div>

        </div>
        <div id="jsonArea">

        </div>

        <p style="display: none; color:red;" id="infoText"></p>
        <textarea style="display: none" class="form-control" id="instanceForm" rows="15">{{instance}}
        </textarea>
    </div>
</form>
