{% extends "base.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
{% include "security/_messages.html" %}

  <div class="card w-50 text-center">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
      <form align="center" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
        {{ login_user_form.hidden_tag() }}
        {{ render_field_with_errors(login_user_form.email, class="form-control") }}
        {{ render_field_with_errors(login_user_form.password, class="form-control") }}
        {{ render_field_with_errors(login_user_form.remember) }}
        {{ render_field(login_user_form.submit, class="btn btn-secondary") }}
      </form>
    </div>
    <a href = {{url_for('security.register')}}>Register</a>
  </div>

{% endblock %}
