<ul class='list-group'>
  {% for definition in definitions %}
      <li class='list-group-item'>
        <div class="Dropdown">
          <button class="btn btn-block dropdown-toggle" type="button" id="definitionVersionDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{definition}}
          </button>
          <div class="dropdown-menu" aria-labelledby="definitionVersionDropdownButton" >
            {% for defversion in definitions[definition] %}
                <a class='dropdown-item' href='javascript:{{action}}_definition("{{defversion}}");'> {{defversion}} </a>
            {% endfor %}
          </div>
        </div>
      </li>
  {% endfor %}
</ul>
