{% extends 'base.html' %}

{% block top %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mdb-navbar">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href={{ url_for('data.instances') }}>Instance<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="#">Dataset</a>
      <a class="nav-item nav-link active" href={{ url_for('data.definitions', action='browse_definitions') }}>Definition</a>
    </div>
</nav>
{% endblock %}

{% block rest %}
{% endblock %}