
<div class="row">
    <div class="col-sm">
        <div class='dropdown'>
            <button class='btn btn-secondary dropdown-toggle' type='button' id='exportDataButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                    Export as
            </button>
            <div class='dropdown-menu' aria-labelledby='exportDataButton'>
                <a class='dropdown-item' href='#'>MathData</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        {% if current_user.is_authenticated %}
            <button class="btn btn-outline-primary" type="button" id="editInstanceBtn" onclick="enable_edit('editInstanceBtn', 'instanceForm', '{{key}}');">Edit</button>
        {% endif %}
    </div>
</div>

<form>
    <div class="form-group" style="margin-top: 10px">
        <textarea disabled class="form-control" id="instanceForm" rows="22"> {{instance}} </textarea>
    </div>
</form>

