{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MathDataBase</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/default.css') }}">

    {{ bootstrap.load_css() }}

    {% block style %}{% endblock %}

    <!-- <script src="{{ url_for('static', filename='highlight.js') }}"></script> -->
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.form.js') }}"></script>
    <script src="{{ url_for('static', filename='mdb.js') }}"></script>


    <!-- <script>hljs.initHighlightingOnLoad();</script> -->

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {% block scripts %}{% endblock %}

</head>
<body>
<main class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href= {{ url_for('home') }}>MathData <span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link" href= {{ url_for('data.index') }}>Use Mathdata</a>
            <a class="nav-item nav-link" href="#">News</a>
            <a class="nav-item nav-link" href="#">Contact</a>
            </div>
        </div>
    </nav>

    {% block top %}{% endblock %}
    {% block content %}{% endblock %}

    <footer class="text-center">
        {% block footer %}
            <small> &copy; 2019 <a href="http://mathdata.io" title="MathData team">MathData team</a>
            </small>
        {% endblock %}
    </footer>
</main>

{{ bootstrap.load_js() }}
</body>
</html>
