{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MathDataBase</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/default.css') }}">

    {{ bootstrap.load_css() }}

    {% block style %}{% endblock %}

    <!-- <script src="{{ url_for('static', filename='highlight.js') }}"></script> -->
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.form.js') }}"></script>
    <script src="{{ url_for('static', filename='mdb.js') }}"></script>


    <!-- <script>hljs.initHighlightingOnLoad();</script> -->

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {% block scripts %}{% endblock %}

</head>

<body>
    <main class="container">
        <nav class="navbar navbar-dark navbar-expand-lg bg-dark" style="background-color: #e3f2fd; margin-bottom: 10px">
            <a class="navbar-brand" href= {{ url_for('home.index') }}>MathData <span class="sr-only">(current)</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Use Mathdata
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href= {{ url_for('data.instances') }}>Browse</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled" href="#">Create</a>
                    </div>
                </li>
                    <a class="nav-item nav-link" href="#">News</a>
                    <a class="nav-item nav-link" href="#">Contact</a>
                </div>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <button class="btn btn-outline-primary" type="submit" style="margin-left: 5px; margin-right: 0px;">Login</button>
        </nav>

        {% block top %}{% endblock %}
        {% block content %}{% endblock %}
        {% block rest %}{% endblock %}
        <footer class="text-center">
            {% block footer %}
                <small> &copy; 2019 <a href="http://mathdata.io" title="MathData team">MathData team</a>
                </small>
            {% endblock %}
        </footer>
    </main>

    {{ bootstrap.load_js() }}
</body>
</html>
