table {
    border: 2px solid #000;
}

.matrixInput {
    width: 100px;
}

.tuple-container {

}

.tuple {
    margin-right: 20px;
    border: 1px solid #ccc;
    display: inline-block;
}

.input-group {
    /*border: 1px solid #000000;*/
    padding: 10px;
    margin-bottom: 20px;
    /*width: 400px;*/
}

.input-group-name {
    width: 30%;
    display: inline-block;
}
