<mat-toolbar fxLayoutAlign="space-between center" style="position: fixed; left: 0; top: 0; z-index: 99;">
  <!-- TODO add logo-->
  <button mat-icon-button fxShow.lt-md>
    <mat-icon>menu</mat-icon>
  </button>
  <app-logo fontSize="36px"></app-logo>
  <div fxHide.lt-md>
    <a mat-button disableRipple disabled>BROWSE</a>
    <a mat-button disableRipple href="#intro">INTRODUCTION</a>
    <a mat-button disableRipple href="#features">FEATURES</a>
    <a mat-button disableRipple href="#">WIKI</a>
  </div>
</mat-toolbar>
m
<div class="section" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" style="background-color: aqua; margin-top: 64px">
  <mat-card style="background-color: burlywood; padding: 16px" fxLayout="column" fxLayoutGap="16px">
    <mat-card-title>
      <div fxLayout="row">
        What is&nbsp;<app-logo fontSize="24px"></app-logo>
      </div>
      <mat-divider>
      </mat-divider>
    </mat-card-title>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus alias impedit necessitatibus dolor beatae
      deleniti quia ipsum porro nulla dolorum, minus natus neque nobis voluptatibus dolore nisi fugiat nemo omnis?
    </span>
    <span>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima adipisci perspiciatis velit nisi doloribus
      ducimus quidem, non consectetur consequatur possimus deserunt autem totam at soluta, quas vel, corrupti commodi
      provident?
    </span>
  </mat-card>
</div>
<div id="intro" class="section" fxLayoutAlign="center center" style="background-color: brown;">
  <mat-card style="background-color: burlywood; padding: 16px" fxLayout="column" fxLayoutGap="16px">
    <mat-card-title>Getting Started
      <mat-divider>
      </mat-divider>
    </mat-card-title>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Add Data">
          <mat-card>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, doloribus, eos sint modi nostrum
            officiis, inventore perspiciatis id alias beatae accusantium deleniti ad ea possimus praesentium
            repudiandae voluptas! Veniam, possimus.
            <code>{{'{'}}'math': 'data'{{'}'}}</code>
          </mat-card>
        </mat-tab>
        <mat-tab label="Search">
          <mat-card>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas pariatur tempore quo porro saepe iste
            eligendi iure quia reiciendis. Ratione nobis minima ad aspernatur quasi quo vel reprehenderit, tenetur
            distinctio?
          </mat-card>
        </mat-tab>
        <mat-tab label="Edit Data">
          <mat-card>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore consequuntur laudantium similique qui
            corrupti asperiores perferendis ducimus sunt optio, minus mollitia suscipit cumque blanditiis, animi
            incidunt dolorum necessitatibus quae? Neque!
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
<div id="features" class="section" fxLayout="row wrap" fxLayoutAlign="space-between center" style="background-color: coral;">
  <mat-card fxFlex.lt-sm="90%" fxFlex.sm="48%" fxFlex="31%" *ngFor="let feature of features" style="margin-top: 16px;">
    <mat-card-title>
      <mat-icon>{{feature.icon}}</mat-icon>
      {{feature.name}}
      <mat-divider>
      </mat-divider>
    </mat-card-title>
    <span *ngFor="let line of feature.lines">{{line}}</span>
  </mat-card>
</div>