{% extends 'base.html' %}
{% set app = 'data' %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card border-dark mb-3">
                <h4 class="card-header mdb-card-block">Credits - Contact</h5>
                <div class="row mx-auto">
                    <div class="col-sm-6" style="padding-top: 10px;">
                        <div class="card border-dark mb-3" style="width: 20rem;">
                            <div class="card-body text dark">
                                <h5 class="card-title"> {{ contact1.name }} </h5>
                                <p class="card-text"><b>Phone:</b> {{ contact1.phone}} </p>
                                <p class="card-text"><b>Email:</b> <a href = 'mailto:' + {{ contact1.email }}> {{ contact1.email }} </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="padding-top: 10px;">
                        <div class="card border-dark mb-3" style="width: 20rem;">
                            <div class="card-body text dark">
                                <h5 class="card-title"> {{ contact2.name }} </h5>
                                <p class="card-text"><b>Phone:</b> {{ contact2.phone}} </p>
                                <p class="card-text"><b>Email:</b> <a href = 'mailto:' + {{ contact2.email }}> {{ contact2.email }} </a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div align="center">
                    <div class="card border-dark mb-3" style="width: 20rem;">
                        <div class="card-body text dark">
                            <h5 class="card-title"> {{ contact3.name }} </h5>
                            <p class="card-text"><b>Email:</b> <a href = 'mailto:' + {{ contact3.email }}> {{ contact3.email }} </a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-6 col-md-4">
            <div class="card border-dark mb-3">
                <h4 class="card-header mdb-card-block">News</h5>
                <div class="card-body text dark">
                    <ul style="list-style-type:disc;">
                        <li>mathdata.io is live!</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
